body{
    font-family: "Microsoft Yahei", "helvetica", "Arial"
}

.app {
    width: 96%;
    margin-left: 3%;
}

.detail {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}

tr td {
    text-align: center;
}

.page {
    float: right;
    margin-right: 20px;
}

a {
    text-decoration: none;
}














.wx-menu{
    height: 31px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.wx-menu ul{
    height: 30px;
    border-bottom: 1px solid #e7e7eb;
}
.wx-menu li{
    float: left;
    display: inline-block;
}
.wx-menu li a{
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-size: 14px;
}
.wx-menu li a.active {
    color: #35b36a;
    border-bottom: #35b36a 2px solid;
}


.wx-form-horizontal:after {
    display: block;
    content: "";
    clear: both;
}
.wx-form-content{


}

.wx-form-content iframe{
    height: 32px;
}

.wx-form-content img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.wx-form-group {
    position: relative;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    font-family: "Microsoft YaHei", "Arial";
}

.wx-form-group:after {
    display: block;
    content: "";
    clear: both;
}

.wx-form-group .wx-control-label {
    display: inline-block;
    *display: inline;
    float: left;
    width: 130px !important;
    text-align: right;
}

.wx-form-group .wx-control-label i {
    color: #f63;
    font-style: normal;
    font-size: 14px;
    margin-right: 6px;
}

.wx-form-group .wx-form-content{
    margin-left: 25px;
    position: relative;
}

.wx-form-group .wx-form-content .wx-form-error{
    color: #f63;
    font-size: 12px;
    line-height: 20px;
    font-family: "Microsoft YaHei", "Arial";
    clear: both;
}

.wx-form-group .wx-form-tips{
    clear: both;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.wx-form-group .wx-form-textarea + .wx-form-count{
    position: relative;
    top: 75px;
}
.wx-form-group .wx-form-count {
    line-height: 24px;
    font-size: 12px;
    color: #999;
    display: inline-block;
    *display: inline;
    width: 50px !important;
    text-align: right;
    margin-left: -60px;
}

.wx-form-group .wx-form-max {
    color: #ff6633;
}

.wx-form-group .wx-form-count i, .wx-form-group .wx-form-count em {
    font-style: normal;
}

.wx-form-group .wx-form-input {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    width: 400px;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    *display: inline;
}

.wx-form-group .wx-form-input-small {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    width: 260px;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    display: inline-block;
    *display: inline;
}

.wx-form-group .wx-form-input-count {
    width: 350px;
    padding-right: 55px;
}

.wx-form-group .wx-form-select {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    color: #333;
    width: 412px !important;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    display: inline-block;
    *display: inline;
}

.wx-form-group .wx-form-select-small {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    color: #333;
    width: 272px !important;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    display: inline-block;
    *display: inline;
}

.wx-form-group .wx-form-textarea {
    line-height: 24px;
    height: 100px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    width: 400px !important;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    *display: inline;
    word-break: break-all;
    word-wrap: break-word;
}

.wx-form-group .wx-form-textarea-small {
    line-height: 24px;
    height: 100px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    width: 260px !important;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    *display: inline;
}

.wx-form-group .wx-form-start {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    font-family: "Microsoft YaHei", "Arial";
    float: left;
    *display: inline;
    width: 180px !important;
    margin-right: 5px;
}

.wx-form-group .wx-form-end {
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
    padding: 0 5px;
    color: #333;
    font-family: "Microsoft YaHei", "Arial";
    width: 180px !important;
    margin-left: 5px;
}
.wx-form-partition{
    width: 96%;
    margin: auto;
    border-top: 1px solid #e7e7eb;
}
.wx-form-images-show{
    min-width: 829px;
    height: 356px;
    margin-top: 10px;
    border: 1px solid #e7e7eb;
    overflow-x: scroll;
    overflow-y: hidden;
}
.wx-form-images-show{
    display: inline-block;
    white-space: nowrap;
}
.wx-form-images-show-detail{
    position: relative;
    display: inline;
    width: 190px;
    height: 330px;
    margin-right: 10px;

}
.wx-form-images-show-detail img{
    width: 190px;
    height: 330px;
}
.wx-form-image-cancel-box{
    position: absolute;
    right: 0;
    top: -327px;
    width: 32px;
    height: 32px;
    background: rgba(0,0,0,0.3);

}
.wx-form-image-cancel-box :hover{
    cursor: pointer;
}
.wx-from-image-cancel{
    position: relative;
    top: -3px;
    left: 1px;
    font-family:"garbage" !important;
    font-size: 32px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}
.wx-form-button{
    display: block;
    margin: auto;
}
.wx-form-partition{
    padding-top: 20px;
}
.wx-check-content{
    display: inline-block;
    font-size: 14px;
}
.wx-check-content input[type="checkbox"].wx-checkbox {
    display: none;
}

.wx-check-content .wx-checkbox-style{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
}

.wx-check-content input[type="checkbox"].wx-checkbox:checked + .wx-checkbox-style:before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    bottom: 0;
    margin: auto;
    display: block;
    width: 6px;
    height: 13px;
    border: 2px solid #35b36a;
    border-left-width: 0;
    border-top-width: 0;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}

.wx-check-content input[type="checkbox"].wx-checkbox:disabled + .wx-checkbox-style{
    background: #f3f3f3;
}

.wx-radio-content {
    display: inline-block;
    font-size: 14px;
}
.wx-radio-content input[type="radio"].wx-radio {
    display: none;
}
.wx-radio-content .wx-radio-style {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #cccccc;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
.wx-radio-content input[type="radio"].wx-radio:checked + .wx-radio-style:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 6px;
    height: 6px;
    background: #35b36a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.wx-radio-content input[type="radio"].wx-radio:disabled + .wx-radio-style {
    background: #f3f3f3;
}
.mgr-10{
    margin-right: 10px;
}

.wx-btn {
    display: inline-block;
    border: 0;
    outline: 0;
    background: #35b36a;
    color: white;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    margin-right: 10px;
}

.wx-btn-small {
    width: 95px;
    height: 28px;
    padding: 0px;
}
